.feature {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fbe6ff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 4px 2px #00000040;
  margin: 2rem 0;
  gap: 16px;
  padding: 32px 16px;
}

.header-wrapper {
  align-items: center;
  margin: 0 auto;
}

.header-wrapper h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 38.42px;
  letter-spacing: normal;
  margin: 0 0 16px;
  color: #4c0d94;
  text-align: center;
}

.header-wrapper p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  max-width: 568px;
  margin: 0 auto;
  max-width: 568px;
  color: #212529;
  letter-spacing: normal;
  text-align: center;
}

.content-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.content-wrapper p {
  font-size: 14px;
  color: #212529;
}

.content-wrapper img,
.description-1,
.description-2 {
  width: 300px;
}

.content-wrapper img {
  order: 2;
  height: 300px;
}

.description-1 {
  order: 1;
}

.description-2 {
  order: 3;
}

.content-wrapper h3 {
  color: #4c0d94;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 16px;
  letter-spacing: normal;
}

.description-1 span,
.description-2 span {
  display: block;
}

@media (max-width: 992px) {
  .feature {
    gap: 60px;
  }

  .header-wrapper h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32.93px;
  }

  .content-wrapper {
    justify-content: center;
    gap: 20px;
  }

  .content-wrapper img {
    order: 1;
    width: 215px;
    height: auto;
  }

  .description-1 {
    order: 1;
  }

  .description-2 {
    order: 2;
  }

  .description-1,
  .description-2 {
    width: 300px;
  }
}
